@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body, html {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

video {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 200px;
}

.landing-page {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.landing-top {
    margin-top: 10%;
    color: #FFFFFF;
}

.landing-top h1 {
    margin-bottom: 5%;
}

.desc {
    color: white;
    text-indent: 50px;
    margin-bottom: 10%;
}

.main-title {
    text-align: center;
}

.login-btns {
    text-align: center;
}

.login-btns button {
    margin-right: 20px;
}

.landing-footer {
    position: absolute;
    bottom: 0px;
    height: 10%;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.user-form {
    text-align: center;
    margin-top: 20%;
}

.hidden {
    display: none;
}

.user-page-container {
    padding-left: 40%;
    padding-top: 100px;
}

.clicker button {
    margin: 10px;
    height: 50px;
    width: 50px;
}
